ion-content {
    --background: #eee;
}
ul{
    list-style: none;
    padding: 0;
    margin: 5px 0;
    li {
        background-color: white;
        padding: 10px 20px;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
        margin: 10px;
        margin-top: 60px;
        opacity: 0;
        transition: all 0.5s ease;

        &:hover {
            background-color: skyblue;
            transform: scale(1.01);
        }
    }
}
.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

$count: 20;

@keyframes list-anima {
    0% {margin-top: 50px; opacity: 0;}
    100% {margin-top: 0; opacity: 1;}
}

@for $i from 1 through 20 {
    li:nth-child(#{$i}) {
        animation-duration: 0.4s;
        animation-name: list-anima;
        animation-delay: $i * 0.1s;
        animation-fill-mode: forwards;
    }
}